<div class="clearfix mxn2">
  <div class="col sm-col-12 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I am a specialist in the fields of Computer Forensics and Information Security. I have detailed knowledge of the techniques and tools used in real-world digital investigations and computer security areas. Recently I have been developing and implementing Internet of Things solutions, primarily using LoRaWAN. I love structure and organisation, and have an exceptional standard of quality.
      Make sure to check out my <a href="{{ site.nav.main.blog }}">blog</a> and <a href="{{ site.nav.main.projects }}">projects</a>.
    </p>  
  </div>
</div>
