<div class="nav">
    <ul>
        <li><a href="/index.html">About</a></li>
        <li><a href="/publications.html">Publications</a></li>
        <li class="dropdown">
            <a href="/software.html" class="dropbtn">Software</a>
            <div class="dropdown-content">
            <a href="/LiveDiff/index.html">LiveDiff</a>
            <a href="/IRDNumberScanner/index.html">IRD Number Scanner</a>
            <a href="/NetXML-API-and-Tools/index.html">NetXML API &amp; Tools</a>
            </div>
        </li>
        <li class="dropdown">
            <a href="/articles.html" class="dropbtn">Articles</a>
            <div class="dropdown-content">
            <a href="/Building-A-LoRaWAN-Network/index.html">Building a LoRaWAN Network</a>
            <a href="/IRDNumberScanner/index.html">IRD Number Scanner</a>
            </div>
        </li>        
    </ul>
</div><!-- /.nav -->