<div class="container center">
  <a href="{{ site.base_url }}">
    {% include image.html path=site.thumbnail_path alt=site.name class="border bg-white p1 border-light-gray circle square-200" %}
  </a>
  {% include header-h1.html %}
  <h2 class="page-description body-font gray mt0 h3 regular">
      I am a researcher, developer and teacher in the fields of Computer Forensics, Information Security and Internet of Things.
  </h2>
  <div class="clearfix icon-block">
    {% for external_url_hash in site.contact_urls %}
      {% assign external_url = external_url_hash[1] %}
      <a href="{{ external_url.url }}" target="_blank" class="col dark-gray width-120">
        <i class="fa fa-fw fa-4x fa-{{ external_url.icon }} valign-middle"></i>
      </a>
    {% endfor %}
  </div>
</div>