
<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ site.title | default: site.github.repository_name }} by {{ site.github.owner_name }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    [if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    [if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
		  <li class="title">
			<a href="{{ site.url }}/" {% if page.title == 'Thomas Laurenson | Home Page' %}class="active"{% endif %}>About</a>
		  </li> 
		  <li class="title">
			<a href="{{ site.url }}/publications.html" {% if page.title == 'Thomas Laurenson | Home Page' %}class="active"{% endif %}>Publications</a>
		  </li> 
	   	  <li class="title dropdown">
	   		<a href="{{ site.url }}/#" class="dropbtn">Projects</a>
	   		<div class="dropdown-content">
	   		<a href="{{ site.url }}/projects/LiveDiff.html">LiveDiff</a>
	   		<a href="{{ site.url }}/projects/CellXML.html">CellXML</a>
	   		<a href="{{ site.url }}/projects/IRDNumberScanner.html">IRD Number Scanner</a>
	   		<a href="{{ site.url }}/projects/NetXML-API-and-Tools.html">NetXML API &amp; Tools</a>
			<a href="{{ site.url }}/projects/DraginoLoRaShield.html">AU915 MHz Dragino LoRaSheild</a>
	   		</div>
		  </li>   	  
		  <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <!-- <h1>{{ site.title | default: site.github.repository_name }}</h1> -->
		  <h1>{{ %page.title% }}</h1>
          <!-- <p>{{ site.description | default: site.github.project_tagline }}</p> -->
          <hr>
          <!-- <span class="credits left">Project maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></span> -->
          <!-- <span class="credits right">Hosted on GitHub Pages &mdash; Theme by <a href="https://twitter.com/michigangraham">mattgraham</a></span> -->
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
