---
layout: default
title: "Thomas Laurenson: Tags"
nav_item: blog  
nav_item_blog: tags  
header_title: Tags
include_header: blog_header.html
is_tags_page: true
include_comments:
  count: true
---

{% include blog-nav.html %}

{% if site.tags != "" %}
  {% include collect-tags.html %}
{% endif %}

<div class="clearfix mxn1 mt3">
    {% for tag in sortedtags %}
      <div class="col px1 mb1">
        <a href="/blog/tags/{{ tag }}" class="button button-narrow button-outline dark-gray h5">{{ tag }} ({{ site.tags[tag].size }})</a>
      </div>
    {% endfor %}
</div>

<a name="{{ page.tag }}"></a>
<section class="mb4 mt4">
  <h2 class="border-bottom border-light-gray mb3 pb1">{{ page.tag }} <span class="gray">({{ site.tags[page.tag].size }} posts)</span></h2>
  {% for post in site.tags[page.tag] %}
    {% include post-outline.html post=post exclude_divider=forloop.last %}
  {% endfor %}
</section>